* {
  box-sizing: border-box;
}

* h1 {
  font-family: "Fraunces";
}

body, ul, li, h1, h2, h3, p {
  margin: 0;
}

body {
  background-color: white;
  font: 600 1rem/1 "Barlow", sans-serif;
  color: white;
  margin-bottom: 1000px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}