.header-bg {
  background: url("../images/desktop/image-header.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.header-menu,
.header-nav,
.header-conteudo {
  display: flex;
  flex-wrap: wrap;
}

.header-nav {
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
}

.header-menu {
  gap: 40px;
}

.header-menu li {
  transition: 0.2s;
}

.header-menu li:hover {
  transform: scale(1.1);
}

.header-menu li:hover:last-child {
  transform: none;
}

.header-menu span {
  text-transform: uppercase;
  font-family: "Fraunces";
  font-weight: bold;
  color: var(--very-des-blue);
  background: var(--white);
  padding: 1rem 1.5rem;
  border-radius: 30px;
  transition: 0.3s;
}

.header-menu span:hover {
  background: none;
  color: var(--white);
}

.header-conteudo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.header-conteudo h1 {
  text-align: center;
  font: 900 3rem/1.2 "Fraunces";
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.js-nav-btn {
  display: none;
  height: 30px;
  width: 30px;
  border: none;
  border-top: solid 2px var(--white);
  position: relative;
  background: none;
}

.js-nav-btn::before,
.js-nav-btn::after {
  content: "";
  height: 2px;
  width: 30px;
  background: var(--white);
  position: absolute;
}
.js-nav-btn::before {
  top: 9px;
  left: 0;
}
.js-nav-btn::after {
  top: 20px;
  left: 0;
}

@media (max-width: 375px) {
  .header-bg {
    background: url("../images/mobile/image-header.jpg") no-repeat bottom;
    background-size: cover;
    height: 80vh;
  }
  .header-nav {
    align-items: center;
    position: relative;
    margin-bottom: 20px;
  }
  .header-conteudo {
    justify-content: start;
  }
  .header-conteudo h1 {
    font-size: 2.5rem;
    padding: 10px;
    margin-bottom: 80px;
  }
  .header-conteudo img{
    height: ;
  }

  .header-menu a {
    color: var(--very-gray-blue);
  }

  .header-menu span {
    background: hsl(51, 100%, 49%);
  }
  .header-menu span:hover {
    color: var(--very-des-blue);
  }

  .js .js-nav-btn {
    display: block;
    cursor: pointer;
  }

  .js .js-navbar {
    display: none;
  }
  .js .js-navbar.active {
    background: var(--white);
    width: 80%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90px;
    right: 20px;
    left: 20px;
  }
}
